{% extends "base.html" %}

{% block title %}Ajouter un Paramètre Additionnel{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">
        Ajouter un Paramètre pour 
        {% if model_type == 'robot_models' %}
            le modèle {{ entity_name }}
        {% elif model_type == 'softwares' %}
            le logiciel {{ entity_name }}
        {% elif model_type == 'clients' %}
            le client {{ entity_name }}
        {% elif model_type == 'robot_clients' %}
            le robot client {{ entity_name }}
        {% endif %}
    </h1>
    
    {% with 
        configs=configs, 
        model_type=model_type, 
        entity_name=entity_name,
        entity_slug=entity_slug,
        entity_id=entity_id,
        form_data=form_data,
        name_error=name_error,
        value_error=value_error
    %}
        {% include 'add/partials/additional_params.html' %}
    {% endwith %}
</div>
{% endblock %}
