{% extends "base.html" %}
{% block title %}Ajouter une Version de Logiciel{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Ajouter une Version de Logiciel</h1>
    <form method="post">
        <div class="mb-3">
            <label for="software_id" class="form-label">Logiciel</label>
            <select class="form-select" id="software_id" name="software_id" required>
                <option value="" selected disabled>Choisissez un logiciel</option>
                {% for software in softwares %}
                <option value="{{ software.id }}">{{ software.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="version" class="form-label">Version</label>
            <input type="text" class="form-control" id="version" name="version" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a href="{{ url_for('software_versions.list_all_software_versions') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}