{% extends "base.html" %}

{% block title %}Liste des Logiciels{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Liste des Logiciels</h1>
    
    {% with items=softwares, show_add_button=false %}
        {% include 'list/partials/softwares.html' %}
    {% endwith %}
    
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Ajouter un Logiciel</h2>
        
        {% with 
            robot_models=robot_models,
            form_data=form_data,
            name_error=name_error
        %}
            {% include 'add/partials/software.html' %}
        {% endwith %}
    </div>
    
    <!-- Lien de retour -->
    <div class="text-center mt-4">
        <a href="{{ url_for('home.home') }}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
