{% extends "base.html" %}
{% block title %}Détails de la Version du Logiciel{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Détails de la Version du Logiciel</h2>
        
        <div class="mb-3">
            <label for="software" class="form-label">Logiciel :</label>
            <input type="text" id="software" name="software" class="form-control" value="{{ software_version.software.name }}" disabled>
        </div>
        
        <div class="mb-3">
            <label for="version" class="form-label">Version :</label>
            <input type="text" id="version" name="version" class="form-control" value="{{ software_version.version }}" disabled>
        </div>
        
        <div class="mb-3">
            <label for="created_at" class="form-label">Date de Création :</label>
            <input type="text" id="created_at" name="created_at" class="form-control" value="{{ software_version.created_at }}" disabled>
        </div>

        <div class="mb-3">
            <label for="base_configurations" class="form-label">Configurations de Base :</label>
            <ul class="list-group">
                {% for config in software_version.base_configurations %}
                <li class="list-group-item">
                    <a href="{{ url_for('software_base_configurations.view_software_base_configuration', base_configuration_id=config.id) }}">{{ config.file_name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mb-3">
            <label for="related_robots" class="form-label">Robots Associés :</label>
            <ul class="list-group">
                {% for robot in software_version.robots %}
                <li class="list-group-item">
                    <a href="{{ url_for('view_robot', robot_id=robot.robot_client.id) }}">{{ robot.robot_client.serial_number }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Lien de retour -->
    <div class="text-center mt-4">
        <a href="{{ url_for('software_versions.list_software_versions', software_id=software_version.software.id) }}" class="btn btn-secondary">Retour à la liste des versions</a>
    </div>
</div>
{% endblock %}