{% extends "base.html" %}
{% block title %}Détails de la Version {{ software_version.version }} de {{ software_version.software.name }}{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Détails de la Version {{ software_version.version }} de <a href="{{ url_for('softwares.view', name=software_version.software.name) }}">{{ software_version.software.name }}</a></h2>

        <div class="mb-3">
            <label for="base_configurations" class="form-label">Configurations de Base :</label>
            <ul class="list-group">
                {% for config in software_version.base_configurations %}
                <li class="list-group-item">
                    <a href="{{ url_for('software_base_configurations.view', 
                    software_name=software_version.software.name,
                    version=software_version.version,
                    file_name=config.file_name) }}">{{ config.file_name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mb-3">
            <label for="related_robots" class="form-label">Robots Associés :</label>
            <ul class="list-group">
                {% for robot in software_version.robots %}
                <li class="list-group-item">
                    {{ robot.rorobot-instance.client.name }} - [{{ robot.robot-instance.robot_modele.name }}] - <a href="{{ url_for('rorobot-instances.view', serial_number=robot.rorobot-instance.serial_number) }}">{{ robot.robot-instance.serial_number }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Lien de retour -->
    <div class="text-center mt-4">
        <a href="{{ url_for('software_versions.list_by_software', software_name=software_version.software.name) }}" class="btn btn-secondary">Retour à la liste des versions</a>
    </div>
</div>
{% endblock %}
