{% extends "base.html" %}
{% block title %}Voir un Logiciel{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Détails du Logiciel : {{ software.name }}</h2>
        <div class="mb-3">
            <label for="robot_model_ids" class="form-label">Modèles de Robot utilisant ce logiciel :</label>
            <div id="robot-model-container">
                {% for relation in software.robot_modeles %}
                <div class="input-group mb-2">
                    <a href="{{ url_for('robot_models.view_robot_model', robot_model_id=relation.robot_modele.id) }}" class="form-control">{{ relation.robot_modele.name }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Lien de retour -->
    <div class="text-center mt-4">
        <a href="{{ url_for('softwares.list_softwares') }}" class="btn btn-secondary">Retour à la liste des logiciels</a>
    </div>
</div>
{% endblock %}