{# templates/marcros/_form_ui.html #}
{# Doit contenir les macro Jira utilisé sur les formulaires #}

{% macro text_field(name, label, value="", required=false, placeholder="", help_text="", error=None, pattern=None) %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <input type="text" class="form-control {% if error %}is-invalid{% endif %}" 
           id="{{ name }}" name="{{ name }}" value="{{ value }}"
           {% if required %}required{% endif %}
           {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
           {% if pattern %}pattern="{{ pattern }}" title="{{ help_text }}"{% endif %}>
    {% if error %}
    <div class="invalid-feedback">{{ error }}</div>
    {% elif help_text %}
    <div class="form-text">{{ help_text }}</div>
    {% endif %}
</div>
{% endmacro %}

{% macro select_field(name, label, options, option_value, option_text, selected=None, required=false, add_button=None, attributes="", error=None) %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <div class="input-group">
        <select class="form-select{% if error %} is-invalid{% endif %}" id="{{ name }}" name="{{ name }}" {% if required %}required{% endif %} {{ attributes|safe }}>
            <option value="" {% if not selected %}selected{% endif %} disabled>Choisir un {{ label|lower }}</option>
            {% for option in options %}
            <option value="{{ option[option_value] }}" 
                    {% if selected and selected|string == option[option_value]|string %}selected{% endif %}>
                {{ option[option_text] }}
            </option>
            {% endfor %}
        </select>
        {% if add_button %}
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ add_button.url }}'">
            {{ add_button.text }}
        </button>
        {% endif %}
    </div>
    {% if error %}
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% endif %}
</div>
{% endmacro %}



{% macro textarea_field(name, label, value="", rows=3, required=false, placeholder="", help_text="", error=None) %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <textarea class="form-control {% if error %}is-invalid{% endif %}" 
              id="{{ name }}" name="{{ name }}" rows="{{ rows }}"
              {% if required %}required{% endif %}
              {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}>{{ value }}</textarea>
    {% if error %}
    <div class="invalid-feedback">{{ error }}</div>
    {% elif help_text %}
    <div class="form-text">{{ help_text }}</div>
    {% endif %}
</div>
{% endmacro %}
