{% extends "base.html" %}
{% block title %}Détails de la Configuration de Base{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Détails de la Configuration de Base</h1>

    <div class="card p-4 shadow-sm">
        <h2 class="mb-3">{{ base_configuration.file_name }}</h2>
        <p><strong>Chemin :</strong> {{ base_configuration.path }}</p>
        <p><strong>Contenu :</strong></p>
        <pre>{{ base_configuration.content }}</pre>
        <a href="{{ url_for('software_base_configurations.list_by_version', software_name=base_configuration.software_version.software.name, software_version=base_configuration.software_version.version) }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}