{% extends "base.html" %}

{% block title %}Ajouter une configuration de paramètres{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">
            {% if entity %}
                Ajouter un parametre pour {{ entity.name }}
            {% elif entity_type %}
                Ajouter un parametre additionel pour tous les {{ entity_type|title }}s
            {% else %}
                Ajouter un parametre additionel pour tout
            {% endif %}
        </h2>
        
        {% include 'add/partials/additional_params_config.html' %}
    </div>
</div>
{% endblock %}
