{% extends "base.html" %}
{% block title %}Ajouter un Modèle de Robot{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Ajouter un Modèle de Robot</h2>
        
        {% with 
            softwares=softwares,
            form_data=form_data,
            name_error=name_error,
            company_error=company_error
        %}
            {% include 'add/partials/robot_model.html' %}
        {% endwith %}
    </div>
</div>
{% endblock %}
