{% extends "base.html" %}
{% block title %}Ajouter une Configuration de Base{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Ajouter une Configuration de Base</h1>

    <div class="card p-4 shadow-sm">
        <h2 class="mb-3">Ajouter une Configuration de Base pour la Version du Logiciel</h2>
        
        {% with 
            softwares=softwares,
            form_data=form_data,
            file_name_error=file_name_error,
            path_error=path_error,
            content_error=content_error
        %}
            {% include 'add/partials/instance_configuration.html' %}
        {% endwith %}
    </div>
</div>
{% endblock %}
