{% extends "base.html" %}
{% from 'macros/_form_ui.html' import text_field, select_field, textarea_field with context %}
{% from "macros/_table_ui.html" import param_table, card_header %}

{% block title %}Modifier le Client : {{ client.name }}{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/expand_form_table.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Modifier le Client : {{ client.name }}</h1>

    <form action="{{ url_for('clients.edit', slug=client.slug) }}" method="POST">
        <div class="card p-4 shadow-sm mb-4">
            <h2 class="mb-3">Informations du Client</h2>
            {{ text_field(
                name="name",
                label="Nom :",
                value=client.name,
                required=true
            ) }}
            
            {{ text_field(
                name="postal_code",
                label="Code Postal :",
                value=client.postal_code_relation.code,
                required=true
            ) }}
            
            {{ text_field(
                name="city",
                label="Ville :",
                value=client.postal_code_relation.city,
                required=true
            ) }}
            
            {{ text_field(
                name="country_code",
                label="Code Pays :",
                value=client.postal_code_relation.country_code,
                required=true
            ) }}
        </div>

        <!-- Section Paramètres -->
        <div class="card p-4 shadow-sm mt-4">
            {{ card_header("Paramètres spécifiques", 
                add_url=url_for('additional_params_config.add', entity_type='client', entity_slug=client.slug),
                add_text="Ajouter un paramètre spécifique au client : " ~ client.name,
                entity_name="paramètre") }}
                
            {% if configured_params or unconfigured_params %}
                {{ param_table(configured_params + unconfigured_params, 'client', client.slug, editable=true) }}
            {% else %}
                <p class="text-muted">Aucun paramètre configuré ou disponible.</p>
            {% endif %}
        </div>

        <div class="d-flex gap-2 mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save me-2"></i>Enregistrer
            </button>
            <a href="{{ url_for('clients.view', slug=client.slug) }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left me-2"></i>Retour à la vue détaillée
            </a>
        </div>
    </form>
</div>
{% endblock %}
