{% extends "base.html" %}
{% from 'macros/_form_ui.html' import text_field with context %}

{% block title %}Modifier un Client{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Modifier un Client</h1>

    <div class="card p-4 shadow-sm">
        <h2 class="mb-3">Modifier les informations du Client</h2>
        <form action="{{ url_for('clients.edit', slug=client.slug) }}" method="POST">
            {{ text_field(
                name="name",
                label="Nom :",
                value=client.name,
                required=true
            ) }}
            
            {{ text_field(
                name="postal_code",
                label="Code Postal :",
                value=client.postal_code_relation.code,
                required=true
            ) }}
            
            {{ text_field(
                name="city",
                label="Ville :",
                value=client.postal_code_relation.city,
                required=true
            ) }}
            
            {{ text_field(
                name="country_code",
                label="Code Pays :",
                value=client.postal_code_relation.country_code,
                required=true
            ) }}
            
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save me-2"></i>Enregistrer
                </button>
                <a href="{{ url_for('clients.list') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
