{# /templates/list/clients.html #}
{% extends "base.html" %}

{% block title %}Liste des Clients{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Liste des Clients</h1>
    
    {% with items=clients, show_add_button=false %}
        {% include 'list/partials/clients.html' %}
    {% endwith %}
    
    <!-- Section pour afficher les paramètres additionnels -->
    {% with 
        params=additional_params,
        entity_name="tous les clients",
        entity_type="client",
        entity_slug=None,
        show_add_button=false
    %}
        {% include 'list/partials/additional_params_config.html' %}
    {% endwith %}
    
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Ajouter un Client</h2>
        
        {% with 
            form_data=form_data,
            name_error=name_error,
            postal_code_error=postal_code_error,
            city_error=city_error,
            country_code_error=country_code_error
        %}
            {% include 'add/partials/client.html' %}
        {% endwith %}
    </div>
    
    <div class="card p-4 shadow-sm mt-4">
        <h2 class="mb-3">Ajouter des paramètres personnalisés à <strong>tous</strong> vos clients</h2>
        
        {% with entity_type='client', entity_slug=None, entity=None %}
            {% include 'add/partials/additional_params_config.html' %}
        {% endwith %}

    </div>
    <script>
        window.APP_CONFIG = {
            additionalParamsConfigs: {{ configs_json|tojson|safe }}
        };
    </script>
</div>
{% endblock %}
