{# config_analyzer/app/templates/list/configuration_instances.html}
{% extends "base.html" %}

{% block title %}Liste des Configurations{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Liste des Configurations</h1>
    
    {% with 
        items=configurations,
        show_add_button=true,
        add_url=url_for('configurations.add')
    %}
        {% include 'list/partials/configuration_instances.html' %}
    {% endwith %}
    
    <!-- Lien de retour -->
    <div class="text-center mt-4">
        <a href="{{ url_for('home.home') }}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}