{% extends "base.html" %}
{% block title %}Éditer une Version de Logiciel{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Éditer une Version de Logiciel</h1>
    <form method="post">
        <div class="mb-3">
            <label for="version" class="form-label">Version</label>
            <input type="text" class="form-control" id="version" name="version" value="{{ software_versions.version }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a href="{{ url_for('software_versions.list_all_software_versions') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}